html {
    box-sizing: border-box;
    font-family: 'Inter';
    color: #292524;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: inherit;
    color: inherit;
}

.displayed-no {
    display: none;
}

#book-form-container {
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: 2px solid red;
    border-radius: 50px;
    padding: 50px 60px;
}

.input-container {
    margin-bottom: 10px;
}

.card-book-title,
.card-book-author,
.card-book-pages,
.card-read-button,
.card-remove-button {
    display: block;
}

.wrapper {
    padding: 0 15vw;
}

#header {
    background-color: #fafaf9;
    padding: 25px;
    box-shadow: 0px 1px 21px -3px rgba(41, 37, 36, 0.20);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#library-header-text {
    font-size: 52px;
    font-weight: 900;
    color: #0c0a09;
    margin-right: 20px;
}

#log-in-button {
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #e7e5e4;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms;
}

#main {
    background-color: #f5f5f4;
    flex: auto;
}

#add-book-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#add-book-button {
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #e7e5e4;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms;
}

#books-container {
    display: grid;
    gap: 4vh;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 1fr;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #fafaf9;
    box-shadow: 0px 0px 10px 0px rgba(41, 37, 36, 0.15);
    font-size: 14px;
    font-weight: 600;
}

.card-book-title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-book-author {
    width: 100%;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-book-pages {
    font-size: 18px;
    margin-bottom: 2vh;
}

.card-read-button {
    border: none;
    padding: 12px 50px;
    border-radius: 20px;
    background-color: #d8a0a0;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms;
}

.card-remove-button {
    border: none;
    padding: 12px 38px;
    border-radius: 20px;
    background-color: #e7e5e4;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms;
}

.read {
    background-color: #a0d8a3;
}

.footer {
    background-color: #f5f5f4;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#github-logo {
    margin-left: 5px;
    height: 30px;
}

.card-remove-button:hover,
.card-remove-button:focus,
.card-read-button:hover,
.card-read-button:focus,
#add-book-button:hover,
#add-book-button:focus,
#log-in-button:hover,
#log-in-button:focus {
    opacity: 0.7;
    box-shadow: 0px 0px 12px 1px rgba(34, 60, 80, 0.2);
}
